*,
:after,
:before {
  box-sizing: border-box;
}

body {
  /* COLOR */
  background-color: #1a1a1a;
  color: #d9d9d9;

  /* LAYOUT */
  margin: auto;

  /* FONTS */
  font-family: "Montserrat", "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  word-wrap: break-word;
}

.task-container {
  width: 30%;
  margin: auto;
}

.task,
.completed-task,
.task-adder {
  /* LAYOUT */
  width: 100%;
  display: flex;
  margin: 15px 0;
  align-items: center;
  border-radius: 15px;
}

.task {
  background-color: #d9d9d9;
  color: #1a1a1a;
}

.completed-task {
  background: #808080;
}

.task-title {
  margin: 7px;
}

.completed-task > .task-title {
  color: #4c4c4c;
  text-decoration-line: line-through;
}

.checkbox {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  background-color: #60809f;
  border-radius: 6px;
  display: inline-flex;
  position: relative;
  margin-left: 9px;
  align-items: center;
  cursor: pointer;
}

.completed-task > .checkbox {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #3d4d5d;
  color: #1a1a1a;
}

.task-adder {
  background: #7db2e8;
  color: #08192b;
  cursor: pointer;
}

.task-adder > .checkbox {
  background: #08192b;
  color: #d9d9d9;
  align-items: center;
  justify-content: center;
}

.new-task > input[type="text"] {
  font: inherit;
  color: inherit;
  background-color: inherit;
  border: inherit;
  width: 100%;
  white-space-collapse: preserve;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.new-task > input[type="text"]:focus-visible {
  outline: none;
}
