body {
    background-color: hsl(225, 25%, 10%);
    width: 50%;
    margin:auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 20px;
    color: hsl(225, 75%, 90%);
}